name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'


      - name: Build and run tests
        run: mvn clean verify
        working-directory: ./back

      - name: Generate Coverage Report
        run: mvn jacoco:report
        working-directory: ./back

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-coverage-report
          path: ./back/target/site/jacoco/
  
      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=bobapp_bobapp-backend -Dsonar.organization=bobapp
        working-directory: ./back

  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v4

      - run: npm ci
        working-directory: ./front

      - run: npm run test:prod -- --code-coverage
        working-directory: ./front

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage-report
          path: ./front/coverage/bobapp

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_FRONTEND_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=bobapp_bobapp-frontend
            -Dsonar.organization=bobapp
            -Dsonar.sources=./front/src
            -Dsonar.tests=src
            -Dsonar.exclusions=**/*.spec.ts,**/*test.ts,**/*.js
            -Dsonar.test.inclusions=**/*.spec.ts,**/*test.ts
            -Dsonar.coverage.exclusions=**/*.js,src/main.ts,src/polyfills.ts,**/*environment*.ts,**/*module.ts,**/app.config.ts,**/app.routes.ts
            -Dsonar.javascript.lcov.reportPaths=./coverage/bobapp/lcov.info
